<div class="flex justify-center items-center max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <%= link_to 'Get Started', new_user_registration_path, class:' text-xl border border-black rounded-md py-2 px-6 hover:-ml-1 hover:-mt-1 hover:border-b-4 hover:border-r-4' %>
</div>
